@model IEnumerable<Models.Driver>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>            
            <th>
                Driver name:
            </th>
            <th>
                Year of Born:
            </th>
            <th>
                Country of origin:
            </th>
            <th>
                Racer number:
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BornYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceNumber)
            </td>
            <td>
                <a href="/Home/EditDriver?id=@item.DID">Edit driver</a>
            </td>
            
        </tr>
}
    </tbody>
</table>

<p><a href="/Home/TeamList">Back to Teams</a></p>
<p><a href="/Home/Index">Back to main menu</a></p>
</body>
</html>
