

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Index.css">
    <title>Index</title>
</head>
<body>

    <h1>Welcome here Racer</h1>
    <div class=""><p>Here you can start creating your own failure!</div>

    <p class=""><a href="/Home/LeagueAdd">League add</a>
    <p>
        <a href="/Home/LeagueList">League list</a>
        <div class="container-lg"><button type="button" class="btn-danger" href="/Home/GenerateData">Generate Data</button></div>
        <br>
        <div class="container-lg"><a href="/Home/GenerateData">Generate Data</a></div>
        <a href="/Home/AllTeamList">List of all teams</a>

</body>
</html>
