

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Index.css">
    <title>Index</title>
</head>
<body>
    <main>
    <section class="welcome">
    <h1>Welcome here Racer</h1>
    <p>Here you can start creating your own failure!</p>
    </section>



    <section class="menu">
    
        <img src="~/FIA-logo.png" alt="FIA_LOGO" />


        <ul>
            <li><a href="/Home/LeagueAdd">League add</a></li>
            <li><a href="/Home/LeagueList">League list</a></li>
            <li><a href="/Home/GenerateData">Generate Data</a></li>
            <li><a href="/Home/AllTeamList">List of all teams</a></li>
            <li><a href="/Home/Statistics">Stats</a></li>
        </ul>
        
   
    </section>




    <section class="content">
        <table>
            <tr>
                <td>asd</td>
            </tr>
            <tr>
                <td>asd</td>
            </tr>
        </table>




        <div class="grid">
            <div class="grid-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere lacus ac placerat finibus. Aenean lacinia luctus fermentum. Duis in mi non justo fermentum tempus vitae imperdiet augue. Donec ut auctor erat. Cras augue risus, suscipit at elementum feugiat, iaculis et sem. Nunc ligula leo, lacinia nec libero a, tincidunt imperdiet ipsum. Morbi imperdiet sapien quis tincidunt vulputate. Mauris bibendum turpis non ultricies dapibus. Ut porttitor sagittis ornare. Aenean tempor tincidunt felis vitae fermentum. Proin ut cursus purus. Quisque non ipsum faucibus, luctus felis eget, rutrum risus. Cras sed odio sem. Nunc pulvinar urna eu est sollicitudin, id tincidunt dolor consectetur.</p>

            </div>
            <div class="grid-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere lacus ac placerat finibus. Aenean lacinia luctus fermentum. Duis in mi non justo fermentum tempus vitae imperdiet augue. Donec ut auctor erat. Cras augue risus, suscipit at elementum feugiat, iaculis et sem. Nunc ligula leo, lacinia nec libero a, tincidunt imperdiet ipsum. Morbi imperdiet sapien quis tincidunt vulputate. Mauris bibendum turpis non ultricies dapibus. Ut porttitor sagittis ornare. Aenean tempor tincidunt felis vitae fermentum. Proin ut cursus purus. Quisque non ipsum faucibus, luctus felis eget, rutrum risus. Cras sed odio sem. Nunc pulvinar urna eu est sollicitudin, id tincidunt dolor consectetur.</p>

            </div>
            <div class="grid-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere lacus ac placerat finibus. Aenean lacinia luctus fermentum. Duis in mi non justo fermentum tempus vitae imperdiet augue. Donec ut auctor erat. Cras augue risus, suscipit at elementum feugiat, iaculis et sem. Nunc ligula leo, lacinia nec libero a, tincidunt imperdiet ipsum. Morbi imperdiet sapien quis tincidunt vulputate. Mauris bibendum turpis non ultricies dapibus. Ut porttitor sagittis ornare. Aenean tempor tincidunt felis vitae fermentum. Proin ut cursus purus. Quisque non ipsum faucibus, luctus felis eget, rutrum risus. Cras sed odio sem. Nunc pulvinar urna eu est sollicitudin, id tincidunt dolor consectetur.</p>

            </div>
            <div class="grid-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere lacus ac placerat finibus. Aenean lacinia luctus fermentum. Duis in mi non justo fermentum tempus vitae imperdiet augue. Donec ut auctor erat. Cras augue risus, suscipit at elementum feugiat, iaculis et sem. Nunc ligula leo, lacinia nec libero a, tincidunt imperdiet ipsum. Morbi imperdiet sapien quis tincidunt vulputate. Mauris bibendum turpis non ultricies dapibus. Ut porttitor sagittis ornare. Aenean tempor tincidunt felis vitae fermentum. Proin ut cursus purus. Quisque non ipsum faucibus, luctus felis eget, rutrum risus. Cras sed odio sem. Nunc pulvinar urna eu est sollicitudin, id tincidunt dolor consectetur.</p>

            </div>
        </div>
        

    </section>
    </main>
</body>
</html>
