

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>

    <header class="w3-container w3-red"><h1>Welcome here Racer</h1></header>
    <div class=""><p>Here you can start creating your own failure!</div>

    <p class=""><a href="/Home/LeagueAdd">League add</a>
    <p>
        <a href="/Home/LeagueList">League list</a>
        <div class="container-lg"><button type="button" class="btn-danger" href="/Home/GenerateData">Generate Data</button></div>
        <br>
        <div class="container-lg"><a href="/Home/GenerateData">Generate Data</a></div>
        <a href="/Home/AllTeamList">List of all teams</a>

</body>
</html>
