

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/CSS/StyleSheet.css" type="text/css" />
    <title>Index</title>
</head>
<body>

    <h1>Welcome here Racer</h1>
    <p>Here you can start creating your own failure!

    <p><a href="/Home/LeagueAdd">League add</a>
    <p><a href="/Home/LeagueList">League list</a>
    <p><a href="/Home/TeamAdd">Team add</a>
</body>
</html>
