

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body>

    <header class="w3-container w3-red"><h1>Welcome here Racer</h1></header>
    <div class=""><p>Here you can start creating your own failure!</div>

    <p class=""><a href="/Home/LeagueAdd">League add</a>
    <p>
        <a href="/Home/LeagueList">League list</a>
        <div class="container-lg"><button type="button" class="btn-danger" href="/Home/GenerateData">Generate Data</button></div>
        <br>
        <div class="container-lg"><a href="/Home/GenerateData">Generate Data</a></div>
        <a href="/Home/AllTeamList">List of all teams</a>

</body>
</html>
