

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Index.css">
    <title>Index</title>
</head>
<body>
    <main>
    <section class="welcome">
    <h1>Welcome here Racer</h1>
    <p>Here you can start creating your own failure!</p>
    </section>



    <section class="menu">
    
        <img src="~/FIA-logo.png" alt="FIA_LOGO" />


        <ul>
            <li><a href="/Home/LeagueAdd">League add</a></li>
            <li><a href="/Home/LeagueList">League list</a></li>
            <li><a href="/Home/GenerateData">Generate Data</a></li>
            <li><a href="/Home/AllTeamList">List of all teams</a></li>
            <li><a href="/Home/Statistics">Stats</a></li>
        </ul>
        
   
    </section>




    <section class="content">
        <table>
            <tr>
                <td><p>History</p></td>
                <td><p>History</p></td>
            </tr>
            <tr>
                <td><p>History</p></td>
                <td><p>History</p></td>
            </tr>
        </table>




       
        

    </section>
    </main>
</body>
</html>
