

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Index.css">
    <title>Index</title>
</head>
<body>
    <main>
    <section class="welcome">
    <h1>Welcome in the database of FiA</h1>
    <p></p>
    </section>



    <section class="menu">
    
        <img src="~/FIA-logo.png" alt="FIA_LOGO" />


        <ul>
            <li><a href="/Home/LeagueAdd">League add</a></li>
            <li><a href="/Home/LeagueList">League list</a></li>
            <li><a href="/Home/GenerateData">Generate Data</a></li>
            <li><a href="/Home/AllTeamList">List of all teams</a></li>
            <li><a href="/Home/AllDriverList">List of all drivers</a></li>
            <li><a href="/Home/Statistics">Stats</a></li>
        </ul>
        
   
    </section>




    <section class="content">
        <table>
            <tr>
                <td class="left"><p>History</p></td>                
            </tr>            
            <tr>
                <td><p>The Association Internationale des Automobile Clubs Reconnus (AIACR, English: 'International Association of Recognized Automobile Clubs') was founded in Paris on 20 June 1904, as an association of national motor clubs. The association was designed to represent the interests of motor car users, as well as to oversee the burgeoning international motor sport scene. In 1922, the AIACR delegated the organisation of automobile racing to the Commission Sportive Internationale (CSI), which would set the regulations for international Grand Prix motor racing. The European Drivers' Championship was introduced in 1931, a title awarded to the driver with the best results in the selected Grands Prix. Upon the resumption of motor racing after the Second World War, the AIACR was renamed the Fédération Internationale de l'Automobile. The FIA established a number of new racing categories, among them Formulas One and Two, and created the first World Championship, the Formula One World Drivers' Championship, in 1950.</p></td>
                <td><img src="/f1.jpg" alt="" /></td>
            </tr>
        </table>




       
        

    </section>
    </main>
</body>
</html>
