@using Models
@model Team  
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editing a Team</title>
    <link rel="stylesheet" href="~/AddEdit.css">
</head>
<body>
    <h1>Editing a Team</h1>
    <br>
    <form action="/Home/TeamEdit" method="post">
        <input type="hidden" name="LID" value="@Model.LID" />
        <input type="hidden" name="TID" value="@Model.TID" />
        <label for="TName">Team name:</label><br>
        <input type="text" name="TName"><br>
        <label for="created">Creation of year:</label><br>
        <input type="number" name="Created" /><br>
        <label for="Country">Country:</label><br>
        <input type="text" name="Country"><br>
        <label for="Engine">Engine type:</label><br>
        <datalist id="Engine">
            <option value="Ferrari">Ferrari</option>
            <option value="Honda">Honda</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Audi">Audi</option>
            <option value="Renault">Renault</option>
            <option value="BMW">BMW</option>
            <option value="Gibson">Gibson</option>
            <option value="Seat">Seat</option>
        </datalist>
        <input type="submit" value="Submit">
    </form>
</body>
</html>