@model string  
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Adding a Team</title>
</head>
<body>
    <h1>Adding a Team</h1>
    <br>
    <form action="/Home/TeamAdd" method="post">
        <input type="hidden" name="LID" value="@Model" />
        <label for="TName">Team name:</label><br>
        <input type="text" name="TName"><br>
        <label for="created">Creation of year:</label><br>
        <input type="number" name="Created" /><br>
        <label for="Country">Country:</label><br>
        <input type="text" name="Country"><br>
        <label for="Engine">Engine type:</label><br>
        <input type="text" name="Engine"><br>       
        <input type="submit" value="Submit">
    </form>
</body>
</html>