@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Ubuntu', sans-serif;
}

body {
    position:absolute;    
    left:700px;
    background-color: aquamarine;
    box-sizing: border-box;
    height: 100vh;
    align-items:center;
    justify-content:center;
}

